body {
  background-color: #f3eae3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  letter-spacing: 2px
}

.titulo {
  color: #a1a3b0;
}

h1,
h2,
h3 {
  font-family: serif;
  font-size: 28px;
  max-width: 250px;
  line-height: 1.2;
  margin: 0;


}

.descripcion {
  color: #a1a3b0;

}

.precio {
  color: #3d8168;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-weight: 700;

}

.todo {
  background-color: white;

}