body {
  background-color: #f3eae3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  border-radius: 8px;
  border: none;

}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  letter-spacing: 2px
}

.titulo {
  color: #a1a3b0;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  font-family: serif;
  font-size: 28px;
  max-width: 250px;
  line-height: 1.2;
  margin: 0;


}

.descripcion {
  color: #a1a3b0;
  font-family: serif;
  font-size: 16px;
  max-width: 250px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: bold;


}

.precio {
  color: #3d8168;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-weight: 700;

}

.todo {
  background-color: white;
  padding: 24px;
  border-radius: 12px;

}

.boton {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #3c8067;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;

}